.folder {
    width: 1150px;
    height: 550px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background-color: #ffffff;
    border: solid 1px #989a9b;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

.folder .folderHeader {
    background-color: #D1DBEC;
    height: 38px;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: flex-end;
    position: relative;
}

.folder .folderHeader .topHeader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 38px;
}

.folder .folderHeader .tabWrap {
    height: 38px;
    display: flex;
    align-items: end;
    width: 282px;
    position: relative;
    margin-left: 2px;
}

.folder .folderHeader .folderTab {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    width: 250px;
}

.folder .folderTab .iconTxt {
    font-size: 13px;
}

.folder .folderTab .tabClose {
    font-size: 13px;
    width: 30px;
    height: 22px;
    border-radius: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 4px;
}

.folder .folderTab .tabClose:hover {
    background-color: #E5E9EE;
}

.folder .folderHeader .folderTab .iconWrap {
    display: flex;
    gap: 10px;
    padding: 8px;
    position: absolute;
    margin: 3px;
}

.folder .folderTab .tabIcon img {
    width: 15px;
}

.folder .tabWrap .tabPlus {
    width: 30px;
    height: 22px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 4px;
    font-size: 13px;
}

.folder .tabWrap .tabPlus:hover {
    background-color: #C8D4E4;
}

.folder .minMaxWrap {
    display: flex;
    align-items: start;
    height: 100%;
}

.folder .minMaxWrap div {
    width: 45px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
}

.folder .minMaxWrap .minBtn:hover,
.folder .minMaxWrap .maxBtn:hover {
    background-color: #C9D2E3;
}

.folder .minMaxWrap .minBtn,
.folder .minMaxWrap .maxBtn {}

.folder .minMaxWrap .closeBtn {
    border-radius: 0 10px 0 0;
}

.folder .minMaxWrap .closeBtn:hover {
    background-color: #C42B1C;
    color: white;
}

.folder .midHeader {
    background-color: #F0F5F9;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 8px;
}

.folder .midHeader .moveWrap {
    display: flex;
    align-items: center;
    height: 100%;
    flex: .17;
    gap: 6px;
    margin-left: 3px;
    justify-content: space-evenly;
}

.folder .midHeader .moveWrap div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    border-radius: 6px;
    font-size: 16px;
    transition: .15s;
}

.folder .midHeader .moveWrap div:hover {
    background-color: #E7EDF1;
}

.folder .midHeader .directory {
    display: flex;
    flex: .6;
    height: 33px;
    border-radius: 5px;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.folder .midHeader .directory div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
}

.folder .midHeader .directory .txt {
    width: 30px;
}

.folder .midHeader .directory .icon {
    padding: 7px 5px;
    color: #666666;
}

.folder .midHeader .directory .arrow:hover,
.folder .midHeader .directory .txt:hover {
    background-color: #F2F3F4;
}

.folder .midHeader .directory #btn {
    border-radius: 6px;
    font-size: 13px;
}

.folder .midHeader .search {
    flex: .23;
    height: 33px;
    border-radius: 5px;
    margin-right: 10px;
}

.folder .midHeader .searchWrap {
    position: relative;
}

.folder .search input:hover {
    background-color: #F5F7F9;
    border: solid 1px #E3E6EB;
}

.folder .search input {
    border: solid 1px #ffffff00;
    border-radius: 5px;
    height: 33px;
    outline: none;
    padding-left: 10px;
    width: 100%;
}

.folder .search input:focus {
    border-bottom: solid 2px #0058BA;
}

.folder .search input::placeholder {
    padding: 5px;
}

.folder .midHeader .search .searchIcon {
    position: absolute;
    top: 6px;
    right: 10px;
}

.folder .botHeader {
    display: flex;
    background-color: #ffffff;
    border-top: solid 0.1mm rgba(192, 204, 217, 0.8);
    border-bottom: solid 0.1mm rgba(192, 204, 217, 0.8);
    align-items: center;
    height: 53px;
}

.folder .botHeader .newWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: .12;
    height: 50px;
}

.folder .botHeader .newWrap .newHover div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.folder .botHeader .newWrap .newHover {
    display: flex;
    padding: 10px;
    border-radius: 5px;
    gap: 5px;
    transition: .15s;
}

.folder .botHeader .newWrap .newHover:hover {
    background-color: #F6F6F6;
}

.folder .botHeader .toolWrap {
    display: flex;
    height: 30px;
    flex: .25;
    justify-content: space-around;
    align-items: center;
    border-left: solid 1px rgba(128, 128, 128, 0.2);
}

.folder .botHeader .toolWrap div {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: .15s;
}

.folder .botHeader .toolWrap div:hover {
    background-color: #F6F6F6;
}

.folder .botHeader .visionWrap {
    display: flex;
    flex: .17;
    border-left: solid 1px rgba(128, 128, 128, 0.2);
    border-right: solid 1px rgba(128, 128, 128, 0.2);
    justify-content: space-evenly;
    align-items: center;
    gap: 11px;
}

.folder .botHeader .visionWrap div {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.folder .botHeader .visionWrap #visionWrap {
    display: flex;
    align-items: center;
    font-size: 12px;
    gap: 7px;
    height: 15px;
    padding: 10px;
    border-radius: 5px;
    transition: .15s;
}

.folder .botHeader .visionWrap div div:hover {
    background-color: #F6F6F6;
}

.folder .botHeader .more {
    flex: .045;
}

.folder .botHeader .more .moreWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 8px;
    margin: 5px;
    font-size: 18px;
}

.folder .botHeader .more .moreWrap:hover {
    background-color: #F6F6F6;
}