.folder {
    width: 60vw;
    height: 60vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
}

.folder .headerWrap {
    border-bottom: solid 1px gray;
    position: relative;
    height: 80px;
}

.folder .headerWrap::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(245, 250, 255, 0.92);
    backdrop-filter: blur(50px);
    border-radius: 10px 10px 0 0;
    z-index: -1;
}

.folder .folderHeader {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.folder .folderHeader .iconWrap {
    display: flex;
    gap: 5px;
}

.folder .folderHeader .btnWrap {
    display: flex;
    gap: 10px;
}

.folder .folderNav {
    display: flex;
    padding: 10px;
    gap: 20px;
}

.folder .folderNav .newWrap {
    display: flex;
    gap: 5px;
}

.folder .folderNav .viewWrap {
    display: flex;
    gap: 10px;
    border-left: solid 1px gray;
}

.folder .folderNav .iconWrap {
    display: flex;
    gap: 20px;
    padding: 0 10px;
    border-left: solid 1px gray;
}

.folder .folderNav #SVWrap {
    display: flex;
}

.folder .folderNav .etcWrap {
    border-left: solid 1px gray;
}

.folder .folderInner {
    height: calc(100% - 80px);
    background-color: white;
    border-radius: 0 0 10px 10px;
}

.folder .folderInner .moveTool {
    display: flex;
}

.folder .folderInner .moveIcons {
    display: flex;
    gap: 5px;
}