.searchPopup {
    width: 770px;
    height: 722.7px;
    background-color: rgba(240, 247, 252, 0.88);
    backdrop-filter: blur(40px);
    box-shadow: 0 6px 10px -1px rgba(0, 0, 0, 0.3);
    border: solid 1px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    margin: 0 auto;
}

/* 검색 팝업의 검색바 */

.searchPopup .search {
    padding: 30px 0 3px 0;
    height: 30px;
}

.searchPopup .searchWrap {
    width: 94%;
    height: 30px;
    display: flex;
    margin: 0 auto;
    background-color: #F9FCFE;
    align-items: center;
    border-radius: 100px;
    box-shadow: 0 3.5px 0px -3px rgba(100, 100, 100, .9);
    justify-content: flex-start;
    border: solid 1px rgba(154, 174, 192, 0.4);
    border-bottom: none;
}

.searchPopup .searchWrap:hover,
.searchPopup .searchWrap:hover input {
    background-color: #F4F7FB;
}

.searchPopup .searchWrap:focus-within {
    box-shadow: none;
    background-color: white;
    border: solid 1px rgba(154, 174, 192, 0.4);
}

.searchPopup .searchWrap svg {
    flex: 0.045;
    margin-left: 5px;
}

.searchPopup .searchWrap input {
    flex: .9;
    font-size: 16.5px;
    outline: none;
    border: none;
}

.searchPopup .searchWrap input:focus {
    background-color: white;
}

.searchPopup .searchWrap input::placeholder {
    font-size: 14px;
    opacity: .8;
}

.searchPopup .searchWrap .searchImg {
    background-color: beige;
    flex: 0.045;
    height: 30px;
}


/* 검색 팝업의 내용 */

.searchPopup .searchInnerWrap {
    display: flex;
    height: 90%;
}

.searchPopup .title {
    font-weight: bold;
    font-size: 15px;
    text-align: start;
}

.searchPopup .shortCut .title {
    padding: 10px 0 8px 0;
    width: 94%;
}

/* 바로가기 리스트 */

.searchPopup .searchInnerWrap .shortCut {
    flex: .7;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0 0 15px;
}

.searchPopup .searchInnerWrap .shortList {
    width: 94%;
    height: 90%;
}

.searchPopup .shortList .listWrap {
    height: 28px;
    margin: 6px 0 6px 0;
    display: flex;
    align-items: center;
    padding: 7px;
    border-radius: 5px;
    position: relative;
}

.searchPopup .shortList .listWrap:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.searchPopup .listWrap:nth-child(1) .listIcon {
    background-image: url('../images/chathsf.png');
}

.searchPopup .listWrap:nth-child(2) .listIcon {
    background-image: url('../images/sebuung.png');
}

.searchPopup .listWrap:nth-child(3) .listIcon {
    background-image: url('../images/nodb.png');
}

.searchPopup .listWrap:nth-child(4) .listIcon {
    background-image: url('../images/logo.png ');
}


.searchPopup .shortList .listWrap svg {
    font-size: 12px;
    position: absolute;
    right: 10px;
    opacity: 0;
}

.searchPopup .shortList .listWrap:hover svg {
    opacity: .7;
}

.searchPopup .shortList .listWrap svg:hover {
    opacity: 1;
}

.searchPopup .listIcon {
    width: 25px;
    height: 25px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 10px 0 2px;
}

.searchPopup .shortList .listName {
    font-size: 14px;
}


/* 정보 & 활동 이미지 */

.searchPopup .searchInnerWrap .activity {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 23px 0 0;
}

.searchPopup .activity .title {
    padding: 10px 0 15px 0;
    width: 100%;
}

.searchPopup .activity .aboutMe {
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 140px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 1px 1px 2px 1px rgba(204, 204, 204, 0.3)
}

.searchPopup .aboutMe .aboutWrap {
    width: 120px;
    height: 110px;
    background-color: beige;
    border-radius: 5px;
    border: solid 0.05rem #e4e9eb;
    cursor: pointer;
}

.searchPopup .aboutMe .aboutWrap:hover {
    box-shadow: 0 3px 5px -1.5px rgba(48, 48, 48, 0.4);
}

.searchPopup .aboutWrap .iconAndBg {
    height: 70%;
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchPopup .activity .aboutWrap .aboutIcon {
    background-size: contain;
    width: 40px;
    height: 40px;
}

.searchPopup .activity .aboutWrap:nth-child(1) .iconAndBg {
    background-color: #D3ECFF;
}

.searchPopup .activity .aboutWrap:nth-child(2) .iconAndBg {
    background-color: #FFE4D2;
}

.searchPopup .activity .aboutWrap:nth-child(3) .iconAndBg {
    background-color: #FFFEE5;
}

.searchPopup .activity .aboutWrap:nth-child(1) .aboutIcon {
    background-image: url('../images/myinfo.png');
}

.searchPopup .activity .aboutWrap:nth-child(2) .aboutIcon {
    background-image: url('../images/github.png');
}

.searchPopup .activity .aboutWrap:nth-child(3) .aboutIcon {
    background-image: url('../images/insta.png');
}

.searchPopup .aboutWrap .aboutTxt {
    background-color: #FDFEFF;
    border-radius: 0 0 5px 5px;
    line-height: 33px;
    height: calc(110px - 70%);
    text-align: center;
    font-size: 14px;
}


/* 활동 이미지 */

.myImg {
    width: 100%;
    height: 300px;
    padding-top: 10px;
}

.searchPopup .myImg .source {
    font-weight: bold;
    text-align: start;
    font-size: 13px;
}

.searchPopup .myImg .myImages {
    height: 95%;
    margin-top: 18px;
    background-image: url('../images/bigdata1.jpg');
    border-radius: 8px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    cursor: pointer;
}

.searchPopup .myImages:hover {
    opacity: .8;
}

.searchPopup .myImg .imageTxt {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 5px;
    padding: 6px;
    display: inline-block;
    position: absolute;
    margin: 13px;
    bottom: 0;
    font-size: 14px;
    font-weight: bold;
}

.searchPopup.searchUp {
    transform: translateY(-199%);
    transition: .2s ease;
}

.searchPopup.searchDown {
    transform: translateY(10%);
    transition: .2s cubic-bezier(0.88, 0, 0.88, 1);
}